{% extends "skeleton.html" %}


{% block body %}
<nav id="menu">
    <div class="menu-container">
    <div class="logo">
	</div>
    <div id="menuBtn"></div>
    <script>
    document.getElementById('menuBtn').onclick = function () {dropdown()};
    function dropdown () {
        document.getElementById('menuBtn').classList.toggle("click")
    }
    </script>
	<ul>
    <li><a href="#news">{{ _('actualités') }}</a></li>
		<li><a href="#about">{{ _('à propos') }}</a></li>
		<li><a href="#newsletter">{{ _('newsletter') }}</a></li>
		<li><a href="mailto:contact@badas.io">{{ _('contact') }}</a></li>
		<li><a href="#sponsor">sponsors</a></li>
		{% if session.username %}
		<li class="connexion">
		<a href="/logout">{{ _('déconnexion') }}</a>
		</li>
		{% else %}
		<li>
		<a href="/login">{{ _('connexion') }}</a>
		</li>
		{% endif %}
	</ul>
</div>
</nav>

<div class="main">
	<div id="news" class='section'>
			<h1>{{ _('actualités') }}</h1>
		<ul class="style1">
			{% for conf in posts %}
			<li>
				<p class="date">
					{% set aaaa,mm,jj = conf['date'] %}
					<b>{{ jj }}</b>
					{{ moisLettres[mm] }}
				</p>
				{{ conf.html }}
			</li>
			{% endfor %}
		</ul>
	</div>

    <div id="about" class='section'>
		{{ about }}
	</div>

  {% include 'newsletter.html' %}

	<div id='sponsor' class="section">
		<h1>Sponsors</h1>
		<a href="http://www.jumptrading.com" >
		<img src="/static/images/jumplogo.png"></img></a>
	</div>

	<div id="logoX">
		<img src="{{ url_for('static',filename='images/logo_Xhor.jpg') }}" />
	</div>

	<div id="copyright">
		<span>Icons made by <a href="https://www.flaticon.com/authors/lucy-g" title="Lucy G">Lucy G</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>. Licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></span>
	</div>
</div>

{% endblock %}
