<!DOCTYPE html5>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BADAS</title>
    <link rel="shortcut icon" type="image/png" href="images/logo-X.jpg">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/default.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static',filename='css/fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static',filename='css/mailchimp.css') }}" rel="stylesheet" type="text/css" media="all" />

    <!-- [if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif] -->

</head>
{% block body %}

{% endblock %}

</html>
